html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}
.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

@media (max-width: 768px) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}

.ant-btn-color-primary {
  background-color: #655DD4 !important;
  border-color: #655DD4 !important;
}

.ant-tabs-tab-btn {
  color:#655DD4 !important;
}

.ant-tabs-ink-bar, .ant-tabs-ink-bar-animated {
  background-color:#655DD4 !important;
}

/* 全局 a 标签的默认颜色 */
a {
  color: #655DD4; /* 统一的默认颜色 */
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #655DD4; /* 悬停、聚焦和点击时的颜色 */
}